@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    background-color:aqua;
    padding: 130px 0 0 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 40px;
    color: rgb(117, 226, 45);
    text-transform: uppercase;
    font-weight: 800;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #111419;
    display: block;
}
.menu .navbar ul li a:hover{
    color: blueviolet;
 }
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu lebel{
    cursor: pointer;
    display: none;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20PX;
    min-width: 400px;
}
table{width: 100%;
}
th, td{
    color: #FFFFFF;
}

.borrar{
    background-color: blue;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url(/images/bag.png);
    background-color: #abf168; 
    
}
h1.C{
    justify-content: center;
}

.contact-info {
    width: 40%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 5px;
}

.contact-info i {
    font-size: 24px;
    margin-right: 10px;
}

.contact-form {
    width: 40%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #90f54d;
}

.contact-form input[type="submit"] {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #98f144;
}

footer {
    background-color:aqua;
    color: #180101;
    padding: 10px;
    text-align: center;
    clear: both;
}